.hero-section {
  min-height: 100vh; /* Make hero section take full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 2rem; /* Add some padding */
  text-align: center; /* Center align text for now */
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.hero-background-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.3;
}

.hero-content {
  position: relative; /* Ensure content is above the gradient */
  z-index: 1;
  color: white;
}

.hero-content h1 {
  font-size: 4.2rem;
  font-weight: var(--font-light);
  margin-bottom: 1rem;
  line-height: 1.15;
  letter-spacing: -0.03em;
}
.hero-content p {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #c5c5c5;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }
}
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 25px; /* Pill shape buttons */
  text-decoration: none;
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #00A9E2; /* Example blue color */
  color: white;
  border: 2px solid #00A9E2;
}

.btn-primary:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-secondary:hover {
  background-color: white;
  color: black;
} 
@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 1rem;
  }

  .hero-content p {
    font-size: var(--text-base);
  }
}
@media (max-width: 480px) {
  .hero-section {
    padding: 2rem .5rem;
  }
}
