@import './styles/theme.css';

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: var(--bg-color);
  min-height: 100vh;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

.app {
  color: var(--text-color);
  transition: color 0.3s ease;
}
::selection{
  background-color: #01E8FF;
  color: rgb(0, 0, 0);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 255, 255);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--accent-color);
}